@charset "utf-8";

body {
    background: #e9ecf2;
    color: #5a6666;
    font-family: "Migu 1P", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

.slide {
    margin: 100px 80px;
    font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 50px;
}

/* title */
.slide h1 {
    background: #546894;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 25px;
}

/* title bottom */
.slide h1 + ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

.slide h2 {
    background: #65a15c;
    color: #fff;
    text-align: center;
    padding: 25px;
}

.slide h3 {
    background: #97cc91;
    color: #fff;
    padding: 25px;
}

.slide ul {
    margin-left: 100px;
}

/* Markdown */

a {
    color: #06c;
}
a:focus, a:hover {
    color: #09f;
}

.slide p {
    margin-bottom: 50px;
}

.slide em {
    background: #eee;
    padding: 0.2em;
}

.slide strong {
    color: #eee;
    background: #333;
    padding: 0.2em;
    font-weight: bold;
}

.slide pre {
    background: #eee;
    border: 3px solid #ccc;
    font-size: 60%;
    white-space: pre-wrap;
    overflow: auto;
    margin-bottom: 50px;
    padding: 25px;
}

.slide blockquote {
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    font-size: 60%;
    margin-bottom: 50px;
    padding: 25px;
}

.slide blockquote p {
    margin: 0;
}

/* jquery.presentaiton.js */

.nav-pager {
    display: none;
}

.nav-prev-next {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    opacity: 0;
    list-style-type: none;
}
.nav-prev-next:hover {
    opacity: 1;
}

.nav-prev-next .prev {
    position: absolute;
    left: 0;
    margin: 15px;
}
.nav-prev-next .next {
    position: absolute;
    right: 0;
    margin: 15px;
}
