body {
    color: #333;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.slide {
    margin: 100px 80px;
    font-size: 400%;
}
.slide h1 {
    font-weight: bold;
    margin-bottom: 50px;
}
.slide h1 + ul {
    color: #666;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.slide h2 {
    background: #eee;
    text-align: center;
    margin-bottom: 50px;
}
.slide h3 {
    margin-bottom: 50px;
}
.slide ul {
    margin-left: 100px;
}
.slide img {
}
.slide p {
    margin-bottom: 50px;
}
.slide em {
    background: #eee;
    padding: 0.2em;
}
.slide strong {
    color: #eee;
    background: #333;
    padding: 0.2em;
    font-weight: bold;
}
.slide pre {
    background: #eee;
    border: 3px solid #ccc;
    font-size: 60%;
    white-space: pre-wrap;
    overflow: auto;
    margin-bottom: 50px;
    padding: 0.5em;
}
.slide blockquote {
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    font-size: 60%;
    margin-bottom: 50px;
    padding: 0.5em;
}
.slide blockquote p {
    margin: 0;
}

.nav-pager {
    display: none;
}

.nav-prev-next {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    opacity: 0;
    list-style-type: none;
}
.nav-prev-next:hover {
    opacity: 1;
}
.nav-prev-next .prev {
    position: absolute;
    left: 0;
    padding: 15px;
}
.nav-prev-next .next {
    position: absolute;
    right: 0;
    padding: 15px;
}
